:root {
    --main-color: black;
    --accent-color: indigo;
    --border-radius: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 100px;
    letter-spacing: 0.3px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 40px;
}

.form {
    width: 50%
}

.input {
    width: 100%;
    display: block;
    padding: 20px 0;
    text-align: center;
    border: 2px solid var(--main-color);
    color: var(--accent-color);
    border-radius: var(--border-radius);
    outline: none;
    transition: 0.1s;
}

.input::placeholder {
    color: inherit;
}

.input:hover {
    border-color: var(--accent-color);
}

.input:valid,
.input:focus {
    border-color: var(--accent-color);
    background-color: aliceblue;
}

.button {
    width: 100%;
    display: block;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    color: white;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    transition: 0.1s;
    border: 2px solid transparent;
    outline: none;
}

.button:hover {
    background-color: white;
    border-color: var(--accent-color);
    color: var(--accent-color);
    cursor: pointer;
}

.hello-wrapper {
    background-color: var(--accent-color);
    padding: 40px 60px;
    font-size: 100px;
    color: white;
}