@model HelloMVC.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Hello app</title>
        <link rel="stylesheet" href="~/css/main.css"/>
    </head>
    <body>
        <div class="container">
            <h1 class="title">Hello app</h1>
            <form asp-action="Welcome" method="POST" class="form">
                <input asp-for="Name" placeholder="Enter name" class="input" required/>
                <button class="button">Let's go!</button>
            </form>
        </div>
        
    </body>
</html>
