@model HelloMVC.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Hello, @Model.Name!</title>
        <link rel="stylesheet" href="~/css/main.css"/>
    </head>
    <body>
        <div class="container">
            <div class="hello-wrapper">Hello, @Model.Name!</div>
        </div>
    </body>
</html>
